force-app/main/default/flows/fn_Projection_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>fn_addProjectionBuffer</name>
        <label>Add Projection Buffer</label>
        <locationX>478</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>var_fn_itemsBufferTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calc_fn_projectionItemBuffer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_fn_itemsFiftyTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_fn_projectionLine.FiftySize__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_fn_itemsNinetyTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_fn_projectionLine.NinetySize__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fn_ProjectionItemsLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>fn_projectionIdProvided</name>
        <label>If Projection Id Provided</label>
        <locationX>194</locationX>
        <locationY>101</locationY>
        <defaultConnector>
            <targetReference>fn_flow_fnSummary_GetProjectionItemRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Projection Id Provided</defaultConnectorLabel>
        <rules>
            <name>fn_projectionIdIsNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_fnProjectionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_fnProjectionId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <label>Projection Id is null</label>
        </rules>
    </decisions>
    <decisions>
        <description>rate of work is greater than zero</description>
        <name>fn_rateOfWorkGTZero</name>
        <label>Rate of Work is greater than zero</label>
        <locationX>349</locationX>
        <locationY>744</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>fn_isGTzero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fn_GetProjectionRecord.RateOfWork__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fn_GetProjectionRecord.RateOfWork__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>is greater than zero</label>
        </rules>
    </decisions>
    <description>calculates the projected effort based on the line items</description>
    <formulas>
        <description>calculates the 50 sizing projection value based on the work rate and the total sum of line items.</description>
        <name>calc_fn_fiftyProjection</name>
        <dataType>Number</dataType>
        <expression>{!var_fn_itemsFiftyTotal} / {!fn_GetProjectionRecord.RateOfWork__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>the square root of the running 90 total plus the 50 total</description>
        <name>calc_fn_ProjectionBuffer</name>
        <dataType>Number</dataType>
        <expression>SQRT( {!var_fn_itemsBufferTotal}) / {!fn_GetProjectionRecord.RateOfWork__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>calculates the projection line item&apos;s buffer value</description>
        <name>calc_fn_projectionItemBuffer</name>
        <dataType>Number</dataType>
        <expression>({!var_fn_projectionLine.NinetySize__c} - {!var_fn_projectionLine.FiftySize__c})^2</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>The total projection with buffer</description>
        <name>calc_fn_totalProjection</name>
        <dataType>Number</dataType>
        <expression>{!calc_fn_fiftyProjection} + {!calc_fn_ProjectionBuffer}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>50/90 Projection Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>50/90 Projection Flow</label>
    <loops>
        <description>Loops the projection&apos;s item records</description>
        <name>fn_ProjectionItemsLoop</name>
        <label>Projection Items Loop</label>
        <locationX>314</locationX>
        <locationY>565</locationY>
        <assignNextValueToReference>var_fn_projectionLine</assignNextValueToReference>
        <collectionReference>fn_flow_fnSummary_GetProjectionItemRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>fn_addProjectionBuffer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fn_GetProjectionRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>gets the fn_projectionItem records by fn_projectionId</description>
        <name>fn_flow_fnSummary_GetProjectionItemRecords</name>
        <label>Get Projection Item Records</label>
        <locationX>201</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>fn_ProjectionItemsLoop</targetReference>
        </connector>
        <filters>
            <field>Projection__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_fnProjectionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FN_ProjectionLine__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FiftySize__c</queriedFields>
        <queriedFields>NinetySize__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>fn_GetProjectionRecord</name>
        <label>Get Projection Record</label>
        <locationX>185</locationX>
        <locationY>713</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>fn_saveProjectionSizes</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_fnProjectionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FN_Projection__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RateOfWork__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>saves the calculated values to the Projection record</description>
        <name>fn_saveProjectionSizes</name>
        <label>Save Projection</label>
        <locationX>185</locationX>
        <locationY>841</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_fnProjectionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Buffer__c</field>
            <value>
                <elementReference>calc_fn_ProjectionBuffer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProjectedDurationWithBuffer__c</field>
            <value>
                <elementReference>calc_fn_totalProjection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProjectedDuration__c</field>
            <value>
                <elementReference>calc_fn_fiftyProjection</elementReference>
            </value>
        </inputAssignments>
        <object>FN_Projection__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>fn_projectionIdProvided</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>running total of the 90 sizing calculated buffer</description>
        <name>var_fn_itemsBufferTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>the running total of the 50 sizing value</description>
        <name>var_fn_itemsFiftyTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>running total of the 90 sizing values</description>
        <name>var_fn_itemsNinetyTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_fn_projectionLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>FN_ProjectionLine__c</objectType>
    </variables>
    <variables>
        <description>the fn_projection Id value</description>
        <name>var_fnProjectionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The record types to include for calculations</description>
        <name>var_fnProjectionItemRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
